.widget-submenu-dd {
  padding-left: 20px;
  border-left: 2px solid #cecdcd;
  margin: 2px 0 6px 16px;
}
.widget-submenu-dd .base-boton-seleccionable-menu:hover .base-boton-agregar {
  width: 18px;
  margin-left: 4px;
  opacity: 1;
}
@media (hover: none) {
  .base-boton-agregar {
    width: 18px;
    margin-left: 4px;
    opacity: 1;
  }
}
.widget-submenu-dd-subtitulo {
  font-size: 11px;
  color: #999;
  padding: 4px 8px;
}
