.lvl1-panel-principal {
  position: fixed;
  top: 52px;
  right: 0;
  height: calc(100vh - 52px);
  background: #ffffff;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  transition: left 0.25s ease;
}
